<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <header>
    <div class="logo"><a href="/">ProfileCard</a></div>
    <nav>
      <ul>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
  </header>

  <div class="login-container">
    <h1>Login</h1>
    <form action="/login" method="get">
      <label for="uid">User ID:</label>
      <input type="text" id="uid" name="uid" required>
      <label for="upw">Password:</label>
      <input type="password" id="upw" name="upw" required>
      <button type="submit">Login</button>
    </form>
    <% if (errorMessage) { %>
      <p class="error-message"><%= errorMessage %></p>
    <% } %>
  </div>
</body>
</html>